body {background-color: #ffffff;
  color: #363636;}

header {background-color: #ffffff;
  color: #000000;}

h1 {margin-bottom: 0;}
  nav {background-color: #ffffff;
    text-align: center;
   padding: 1em;}
   
h2 {color: #1976D2;}

dt {color: #002171;}

.resort {color: #1976D2;}

body {font-family: 'inter', sans-serif;
  line-height: 1.5;
text-align: center;
font-size: 14px;}

nav {font-weight: bold; word-spacing: 5em; text-align: center; padding-left: auto; padding-right: auto; font-size: 16px;}
nav a {text-decoration: none;}

h1 {font-family: 'gfs Didot', serif;
  margin-top: 0;
  letter-spacing: 1px;}

h2 {font-family: 'inter', sans-serif;
  color: #c28a10;
font-size: medium;}

h3 {font-family: 'inter', sans-serif; color: #000033;
text-align: center;}

ul {list-style-image: url(marker.gif);}

footer {font-size: 75%; 
  font-style: italic;  
  text-align: center; 
  font-family: 'Times New Roman';
padding: 3em;
margin-top: 0;}

.resort {font-weight: bold;
color: #5c7fa3;
font-size: 24px;}

.myvideo {
  width: 100%;
}

#contact {font-size: 90%;}

#wrapper {margin-left: auto; margin-right: auto; 
     width: 80%; 
     background-color: #ffffff; 
      min-width: 960px; 
     max-width: 2048px;
    padding-top: 10em ;}

main {padding-top: 1px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
     display: block;}

#homehero {background-image: url(tealpattern.jpg);
     background-size: 100% 100%;
     height: 300px;
     background-repeat: no-repeat;}

#portraithero {
  position: relative;
  margin: auto;
  width: 100%;
  height: 300px;
  text-align: left;}

.container {
  display: flex;
  align-items: top;
  gap: 5em;
  background-size: 100% 100%;
  background-color: rgb(247, 234, 219);
}
.side-image {
  flex: 1;
  max-width: 18%;
  height: auto;
}
.side-text {
  flex: 3;
  font-size: 18px;
  text-align: left;
}

.portrait {
  position: absolute;
  width: 200px;
  height: 200px;
}

#yurthero {background-image: url(yurt.jpg);
     background-size: 100% 100%;
     height: 300px;
     background-repeat: no-repeat;}


nav a:link {color: #5c7fa3;}
nav a:visited {color: #344873;}
nav a:hover {color: #a52a2a;}
header a:link {color: #ffffff;
  text-decoration: none;}
header a:visited {color: #ffffff;
  text-decoration: none;}
header a:hover {color: #90c7e3;
  text-decoration: none;}

.flex-container {
  margin-top: 12em;
  margin-bottom: 10em;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 33.33%;
  padding: 3em;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 20em;
}
.column img {
  width: 49%;
  height: 100%;
}
.endtitle {color: #000000;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 60px;
  font-family: gfs Didot, serif;
text-align: center;}